<html>
<head>
<title>Gem Selections</title>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link rel=stylesheet type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel=stylesheet type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

  .navbar .navbar-inverse
  {
    color:blue;
    
    
  }
  
  body {
  
  
  color: white;
    font-family: 'Lato';
    background-size: cover;
    background-position: center;
    background-color:#212121;  
}
html
{
    height: 100%;
    
}

  h1{ opacity:1;
  color:white;
    font-weight: 700;
    font-size: 5em;
    
}
  .navbar-default{
    background-color:#ffffff;
  }
  .btn {
  font-weight: 600;
  letter-spacing: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-default:hover, .btn-default:focus {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.btn-lg {
  padding: 14px 28px 13px 28px;
  font-size: 13px;
}

.btn:focus, .btn:hover {
  outline: 0;
  color: #fff;
}
.navbar-default {
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  background-color: rgba(255, 250, 250, 0.98);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 9999 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #32c5d2;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #32c5d2;
  background-color: transparent;
}

.navbar-brand {
  font-weight: 700;
  color: #000 !important;
  font-size: 30px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: #687074;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #32c5d2;
}


  </style> 
  
 <nav class="navbar navbar-default">
  <div class="container container-fluid">
      
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gem Selections</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li class="active"><a href="/login"><i class="fa fa-user"></i>Login</a></li>
     
      </ul>
          
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
     

       
    <div class="container">

<div class="row">

<div class="col-lg-12">
<div id="content">
<h1 style="text-align:center">Login Page</h1>
  <br>
 <form action="/login" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="username" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password"id="exampleInputPassword1" placeholder="Password">
  </div>
  <button class = "btn btn-primary btn-lg"type="submit" class="btn btn-default">Login</button>
</form>


</div>
</div>

</div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>



<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  </body>








</html>









