<html >
<head>

  <link rel=stylesheet type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel=stylesheet type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  
  
  <style>

body
{ 
    color: white;
    font-family: 'Lato';
    background-size: cover;
    background-color:#212121;
    background-position: center;
     
}
html
{
    height: 100%;
    
}
hr{
    
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#content{
    padding-top: 15%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),0px 8px 13px rgba(0,0,0,0.1),0px 18px 23px rgba(0,0,0,0.1);
}


h1{ opacity:1.1;
  color:white;
    font-weight: 800;
    font-size: 5em;
    text-align:center;
}
  .navbar-default {
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  background-color: rgba(255, 250, 250, 0.98);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 9999 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #32c5d2;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #32c5d2;
  background-color: transparent;
}

.navbar-brand {
  font-weight: 700;
  color: #000 !important;
  font-size: 30px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: #687074;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #32c5d2;
}
#table
    {
      background-color:#fff;
      color:black;
    }
  
  
  
  </style>
  
  
  
  
  
  
  </head>
  
  
  
  
  
  
  
  <body>

 <nav class="navbar navbar-default">
  <div class="container container-fluid">
      
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gem Selections</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        
        
        
        </ul>
        
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
     
  
<h1>User Details</h1>
<br>
  <div id="l">
  
  </div>

  
  
  
  <p id="f"><%=data %>

  
  
  </p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
  
  
    <table class="table table-striped table-bordered" id="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email ID</th>
    </tr>
  
  
  </thead>
  
  
  </table>
    </div>
  <script type="text/javascript">
        $(document).ready(function(){

            //Check if the current URL contains '#' 
            if(document.URL.indexOf("#")==-1)
            {
                // Set the URL to whatever it was plus "#".
                url = document.URL+"#";
                location = "#";

                //Reload the page
                location.reload(true);

            }
        });
    </script> 
<script>
var x =  document.getElementById("f").innerHTML ;
var qna = x.split(',');
  document.getElementById("f").innerHTML="";
            var res = qna.join(" <br> ");
  var n =res.split(" <br> ");
 
  var array = $.map(n, function(value, index) {
    return [value];
});
  var email=[];
  var numbers=[];
  var names=[];
  var i,k=0,m=0,a=0;
  var q=array.length;
 i=1;
  while(i<q)
  {
    email[k++]=array[i];
    numbers[m++]=array[i-1];
    names[a++]=array[i+1];
    i=i+3;
  }
  m=0;
  //   while(m<array.length/3)
  //     {
  //document.getElementById("l").innerHTML+="Name: "+names[m]+"<br>Phone Number: "+numbers[m]+"<br>Email ID: "+email[m]+"<br>";
  //document.getElementById("l").innerHTML+="<br>"
    //     m++;
      // }
 
var arrayLength = array.length;
var theTable = document.createElement('tbody');


for (var i = 0, tr, td; i < arrayLength/3; i++) {
    tr = document.createElement('tr');
    td = document.createElement('td');
  td.appendChild(document.createTextNode(names[i]));
  td2 = document.createElement('td');
  td2.appendChild(document.createTextNode(numbers[i]));
  td3 = document.createElement('td');
  td3.appendChild(document.createTextNode(email[i]));
  
    tr.appendChild(td);
   tr.appendChild(td2);
   tr.appendChild(td3);
    theTable.appendChild(tr);
}

document.getElementById('table').appendChild(theTable); 
  </script>  
  
  </body>  


</html>
